<h1>Hello <%= @email %>,</h1>

<p><%= @body %></p>

<p>
Should you need any further assistance, contact us at info@usermanagement.com.<br/> 
<span style="color:#ED1C24;font-size:16px;">Team User Management </span> <br/> 
<span style="color:#ED1C24;font-size:12px;">You're Safe with Us.</span>
</p>