<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'List Users', users_path %></li>
  <li class="active"><%= link_to 'Compose Email', compose_users_path %></li>
</ul>

<h1>Compose Email</h1>

<%= form_tag(compose_email_users_path, :method => 'get', :multipart => true, class: "form-horizontal") do %>
  <div class="form-group">
    <label class="col-sm-2 control-label">User Email's</label>
    <div class="col-sm-10">
      <%= select_tag 'useremail[]', options_for_select(@users.map { |u| [u.email]}), multiple: true, id: "compose_email" %></p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Subject</label>
    <div class="col-sm-10">
      <!-- <input type="text" name="text" class="form-control" placeholder="Text Input" /> -->
      <%= text_field_tag :subject, '', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Body</label>
    <div class="col-sm-10">
      <!-- <input type="text" name="text" class="form-control" placeholder="Text Input" /> -->
      <%= text_area_tag :body, '', rows: 10, cols: 25, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#compose_email').multiselect({
      includeSelectAllOption: true,
      enableFiltering: true
    });
  });
</script>

