<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'List Users', users_path %></li>
  <li><%= link_to 'Compose Email', compose_users_path %></li>
</ul>

<h1>Listing Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= link_to "Show", user, class: 'btn btn-primary btn-xs' %></td>
        <td><%#= link_to "Edit", edit_user_registration_path, class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to "Destroy", user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'%></td>
      </tr>
    <% end %>
  </tbody>
</table>