<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <h2>User Management</h2>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %> 
        <li><%= link_to 'Edit account', edit_user_registration_path %></li>
        <li class="dropdown"> 
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user_name(current_user) %><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Compose Email', compose_users_path %></li>
            <li class="divider"></li>
            <li><li><%= link_to 'Sign out', destroy_user_session_path, :method => 'delete' %></li></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</nav>