<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "User Management" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "User Management" %>">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-12">
          <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
              <div class="alert alert-dismissible alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <% if user_signed_in? %>
          <div class="col-xs-3">
            <h3>User Management</h3>
          </div>
          <div class="col-xs-9">
            <%= yield %>
          </div>
        <% else %>
          <div class="col-xs-12">
            <%= yield %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
